#app {
    /* display: flex;
    flex-direction: column; */
    width: 934px;
    margin: auto;
}

#calendarContainer {
    display: flex;
    flex-direction: column;
    width: inherit;
    margin: auto;
}

#calendarContainer h2 {
    margin: 1rem auto;
}

.form p {
    margin-top: 1rem;
    margin-bottom: 0;
}

.form input {
    display: block;
    margin-bottom: 1rem ;
}

table {
    margin: 1rem 0;
    table-layout: fixed;
    width: inherit;
}

table tbody td {
    height: 60;
    font-size: 2rem;
    text-align: center;
}

table tbody td.grey {
    background: #aaa;
}

table tbody td.green {
    background: green;
}

table tbody td.yellow {
    background: #ffeb3b;
}

.error {
    width  : 100%;
    padding: 0;
    color: red;
    box-sizing: border-box;
    display: none;
}

.error.active {
    display: block;
}